.cartItem {
    padding: 40px 10px;
    border-top: 1px solid black;
    display: flex;
}

.cartText {
    font-size: 1rem;
}

.cartItemPic {
    width: 120px;
    aspect-ratio: 1/1;
    object-fit: contain;
    mix-blend-mode: multiply;
}

