.homePage {
  display: flex;
  padding: 20px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;

  gap: 40px;
}

.homeImage {
  height: 900px;
  width: 800px;
  object-fit: cover;
}

.homeButton {
  border: none;
  height: 50px;
  width: 150px;
  padding: 5px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 900;
  color: #ffffe4;
  background-color: #4c4c44;
  margin-bottom: 10px;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  object-fit: cover;
  filter: brightness(0) invert(1);
}

.icon2 {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  object-fit: cover;
}
