.navBar {
  padding: 20px 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-bottom: 1px solid black;
}

.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.list-item {
  transition: background-color 0.25s linear;
  transition: color 0.25s linear;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 15px;
  &:hover {
    background-color: #4c4c44;
    color: white;
  }
}

.list-logo {
  font-size: 2rem;
  font-weight: 900;
  border: #4c4c44 3px solid;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 600px) {
  .list-item {
    font-size: 1.1rem;
  }
}
